.fa
	color: #4a76a8 !important
header
	margin: 25px 	0 25px
.left-floated
	display: block
	float: left
.site-title
	color: #333
	font-size: 25px
	&:hover
		text-decoration: none
		color: #555
.tag
	margin: 5px 2px 0 
	&-big
		font-size: 15px
	&:hover
		opacity: 0.8
